* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: black;
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue',
    Arial, 'Noto Sans', 'Liberation Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.header {
  max-width: 1440px;
  height: 550px;
  margin: 0 auto;
  background-color: #112234;
  display: flex;
}

/* header left */

.header-info {
  width: 66%;
  background-color: #f6b653;
  height: 100%;
  border-radius: 0 0 250px 0;
}

.header-case {
  width: 500px;
  margin: 0 auto;
}

.header-title {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  padding-top: 30px;
}

.header-social {
  display: flex;
  justify-content: space-between;

  flex-wrap: wrap;
  margin-top: 35px;
}

.header-introduction {
  font-size: 14px;
  padding-top: 60px;
  font-weight: 600;
}

.header-item {
  display: flex;
  list-style: none;
  width: 48%;
  border: 9px solid rgba(17, 34, 52, 0.6);
  border-radius: 40px 40px 40px 0px;
  height: 130px;
  margin-bottom: 10px;
}

.header-link {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  align-items: center;
  margin-left: 12px;
}

.header-item img {
  height: 50px;
  padding: 0 25px 0 0;
}

.header-img {
  width: 34%;
  height: 100%;
}

/* header left */

/* ******************************** */

/* header right */

.header-right {
  width: 34%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.header-img {
  height: 300px;
  width: 300px;
  overflow: hidden;
  background: url('./assets/photo/photoCV.JPG') no-repeat -80px 0;
  border-radius: 50%; /* Превращаем в круг */
  background-size: auto 300px; /* Высота фотографии равна высоте элемента */
  border: 15px solid rgba(246, 182, 83, 0.9);
  border-radius: 50%;
  margin: 0 auto;
}
